$def with (r)

$code:
    msg = r[0]
    redirect = r[1]

<HTML>
	<HEAD>
		<title>SimpleCD:让分享变得简单 出错信息</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<META NAME="keywords" CONTENT="VeryCD,精简版,emule,电骡,下载">
		<META NAME="description" content="SimpleCD电骡资源 出错信息">
		<LINK href="/static/main_02.css" type="text/css" rel="stylesheet">
		<script language="javascript" type="text/javascript" src="/static/common.js"></script> 
		<link rel="shorcut icon" href="/static/favicon.ico"/>
		<META HTTP-EQUIV="Refresh" CONTENT="3; URL=$redirect">
	</HEAD>

	<BODY onload=init('');>
	<div name="all"align=center width=800>
		<table cellpadding=0 cellspacing=1 align=center width=800>
			<tr><td>
				<a href="/bbs/index.php">论坛</a>&nbsp;|&nbsp;
				<a href="/feed">订阅更新</a>&nbsp;|&nbsp;
				<a href="/bbs/forumdisplay.php?fid=3" >意见反馈</a>
			</td>
		</table>
		<table cellpadding=0 cellspacing=0 align=center width=800>
			<tr><td width=218><a href=/><img src=/static/simplecd.png height=68></a>
				<td valign=middle align=right>
				&nbsp;
	                <form id=search method=get action=/>
						<INPUT type=text name=q size=30 value="">
						<SELECT name=cat>
							<option value="">分类</option>
							$for catname in ['电影','剧集','音乐','游戏','动漫','综艺','软件','资料']:
								<option value=$catname>$catname</option>
						</SELECT>
						<INPUT type=submit value="SimpleCD搜索">
					</form>
				</td></tr>
		</table>
		<p>
		<table cellpadding=0 cellspacing=0 align=center width=600>
			<tr><td>
			<h1>$msg</h1>
			<h3>本页将于3秒钟后自动跳转，或者<a href="$redirect">点此直接跳转</a></h3>
			</td></tr>
		</table>
		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-10627564-5']);
			  _gaq.push(['_trackPageview']);
			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
			  })();
		</script>
	</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/3491149.js"></script>
<noscript><a href="http://www.51.la/?3491149" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3491149.asp" style="border:none" /></a></noscript>
	<BODY>
</HTML>
